<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AK_INDUSTRIES1</display-name>
  <description>Project</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-env-ref>
    <resource-env-ref-name>jdbc/Salon</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSourse</resource-env-ref-type>
  </resource-env-ref>
  <servlet>
    <servlet-name>Indexcontroller</servlet-name>
    <servlet-class>com.industry.controller.Indexcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexcontroller</servlet-name>
    <url-pattern>/Indexcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registercontroller</servlet-name>
    <servlet-class>com.industry.controller.Registercontroller</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Registercontroller</servlet-name>
    <url-pattern>/Registercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCat</servlet-name>
    <jsp-file>/Show/Show.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Products</servlet-name>
    <jsp-file>/nav/Products.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Customers</servlet-name>
    <jsp-file>/nav/Customers.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Employees</servlet-name>
    <jsp-file>/nav/Employees.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Sales</servlet-name>
    <jsp-file>/nav/Sales.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Services</servlet-name>
    <jsp-file>/nav/Services.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Schedule</servlet-name>
    <jsp-file>/nav/Schedule.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Reports</servlet-name>
    <jsp-file>/nav/Reports.jsp</jsp-file>
  </servlet>
    <servlet>
    <servlet-name>Writeoff</servlet-name>
    <jsp-file>/nav/Writeoff.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Writeoff</servlet-name>
    <url-pattern>/writeoff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reports</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductCat</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Customers</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sales</servlet-name>
    <url-pattern>/sales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Services</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>

</web-app>